*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1100px;
    margin: 0 auto;
}

body{
background-color:brown;
}
.menu{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background-color: black;
    border-radius: 10px;
}

nav ul li{
    display: inline-block;
    margin: 20px;
    margin-top: 13%;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}

.container{
    background-color: black;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 300px;
    overflow: hidden;
}

.titulo{
    background-color: red;
    padding: 10px;
    text-align: center;

}

.form{
    padding: 20px;
}

.form-control{
    margin-bottom: 7px;
    padding-bottom: 13px ;
    position: relative;

}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
    color: white;
}


.form-control input{
    display: block;
    width: 100%;
    padding: 3px;
    text-decoration: none;
    border-radius: 6px;
}

.form-control i{
    position: absolute;
    top: 26px;
    left: 15rem;
    visibility: hidden;
   
}

.form-control small{
    position: absolute;
    color: red;
    visibility: hidden ;

}

.form button{
    margin-top: 9px;
    width: 100%;
    padding: 3px;
    cursor: pointer;
    border-radius: 6px;
}

.messagem {
    display: none;
    position: absolute;
    top: 41%;
    left: 35%;
    font-size: 25px;
    padding: 10px; 
}

.messagem p{
    position: absolute;
    left: 15%;
    font-size: 20px;
    margin-top: 5px;
}

.button{
    display: none;
    position: relative;
    top: 16rem;
    left: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #4CAF50; 
    color: white; 
    border: none; 
}



/* validação */

.form-control.success input{
    border-color: green;
}

.form-control.erro input{
    border-color: red;
}

.form-control.success i .success{
    visibility: visible ;
}

.form-control.erro i .erro{
    visibility: visible ;
}

.form-control.erro small{
    visibility: visible;
}

